@font-face {
  font-family: 'cv-font';
  src:
    url('asset/font/cv-font.ttf?eje0kc') format('truetype'),
    url('asset/font/cv-font.woff?eje0kc') format('woff'),
    url('asset/font/cv-font.svg?eje0kc#cv-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cv-font__icon--"], [class*=" cv-font__icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cv-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cv-font__icon--arrow-bold-up:before {
  content: "\e900";
}
.cv-font__icon--arrow-down:before {
  content: "\e901";
}
.cv-font__icon--chevron-down:before {
  content: "\e902";
}
.cv-font__icon--chevron-thin-down:before {
  content: "\e903";
}
.cv-font__icon--chevron-with-circle-down:before {
  content: "\e904";
}
.cv-font__icon--flow-tree:before {
  content: "\e905";
}
.cv-font__icon--briefcase:before {
  content: "\e906";
}
.cv-font__icon--calendar:before {
  content: "\e907";
}
.cv-font__icon--chat:before {
  content: "\e908";
}
.cv-font__icon--code:before {
  content: "\e909";
}
.cv-font__icon--cog:before {
  content: "\e90a";
}
.cv-font__icon--drop:before {
  content: "\e90b";
}
.cv-font__icon--flash:before {
  content: "\e90c";
}
.cv-font__icon--gauge:before {
  content: "\e90d";
}
.cv-font__icon--globe:before {
  content: "\e90e";
}
.cv-font__icon--heart:before {
  content: "\e90f";
}
.cv-font__icon--home:before {
  content: "\e910";
}
.cv-font__icon--info-with-circle:before {
  content: "\e911";
}
.cv-font__icon--keyboard:before {
  content: "\e912";
}
.cv-font__icon--laptop:before {
  content: "\e913";
}
.cv-font__icon--list:before {
  content: "\e914";
}
.cv-font__icon--mail:before {
  content: "\e915";
}
.cv-font__icon--map:before {
  content: "\e916";
}
.cv-font__icon--menu:before {
  content: "\e917";
}
.cv-font__icon--mobile:before {
  content: "\e918";
}
.cv-font__icon--pie-chart:before {
  content: "\e919";
}
.cv-font__icon--plus:before {
  content: "\e91a";
}
.cv-font__icon--rocket:before {
  content: "\e91b";
}
.cv-font__icon--signal:before {
  content: "\e91c";
}
.cv-font__icon--star:before {
  content: "\e91d";
}
.cv-font__icon--tools:before {
  content: "\e91e";
}
.cv-font__icon--trophy:before {
  content: "\e91f";
}
.cv-font__icon--skype-with-circle:before {
  content: "\e920";
}
.cv-font__icon--soundcloud:before {
  content: "\e921";
}
.cv-font__icon--facebook-with-circle:before {
  content: "\e922";
}
.cv-font__icon--github-with-circle:before {
  content: "\e923";
}
.cv-font__icon--google-with-circle:before {
  content: "\e924";
}
.cv-font__icon--linkedin-with-circle:before {
  content: "\e925";
}
.cv-font__icon--twitter-with-circle:before {
  content: "\e926";
}
