extends _component/layout/page
block my-config
  -
    var myTitle = "Razvan - awesome resume"
    var myDescription = "Awesome resume - CodeTap"
block my-content
  include _component/landing-page/landing-page
  include _component/about-me/about-me