extends _component/layout/page
block my-config
  -
    var myTitle = "Marian is awesome"
    var myDescription = "Marian is even more awesome"
block my-content
  include _component/landing-page/landing-page